<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="EsoEntities" connectionString="metadata=res://*/EsoModel.csdl|res://*/EsoModel.ssdl|res://*/EsoModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=hemsoft-sqlserver.database.windows.net;initial catalog=Eso;persist security info=True;user id=hemsoft;password=Inxs1Inxs;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>