@{
    ViewBag.Title = "Dailies";
}

<div ng-app="app" ng-controller="esoController as vmeso" class="row">
    <div class="row">
        <div class="col-md-12 panel panel-default">
            <div class="panel-body text-center" id="countdown" ng-Init="vmeso.CountDown()">
            </div>
        </div>
    </div>
    <div class="col-md-12 panel" ng-init="vmeso.getWritStatus()">
        <div class="panel-heading">
            <h2 class="text-center">Writs</h2>
        </div>
        <div class="panel-body">
            <table class="table table-bordered table-striped table-hover">
                <tr>
                    <th>Name</th>
                    <th>Alchemy</th>
                    <th>Blacksmithing</th>
                    <th>Clothing</th>
                    <th>Enchanting</th>
                    <th>Provisioning</th>
                    <th>Woodworking</th>
                </tr>
                <tr ng-repeat="ws in vmeso.writStatus" class="{{ ws.AllWritsCompletedClass}}">
                    <td ng-bind="ws.Character.Name" />
                    <td ng-show="{{ ws.AlchemyCompleted }}" class="text-center"><div class="glyphicon glyphicon-ok"></div></td>
                    <td ng-show="{{ ws.AlchemyCompleted === null }}"></td>
                    <td ng-show="{{ ws.AlchemyCompleted === false}}" class="text-center"><div class="glyphicon glyphicon-remove"></div></td>
                
                    <td ng-show="{{ ws.BlacksmithingCompleted }}" class="text-center"><div class="glyphicon glyphicon-ok"></div></td>
                    <td ng-show="{{ ws.BlacksmithingCompleted === null }}"></td>
                    <td ng-show="{{ ws.BlacksmithingCompleted === false}}" class="text-center"><div class="glyphicon glyphicon-remove"></div></td>
                
                    <td ng-show="{{ ws.ClothingCompleted }}" class="text-center"><div class="glyphicon glyphicon-ok"></div></td>
                    <td ng-show="{{ ws.ClothingCompleted === null }}"></td>
                    <td ng-show="{{ ws.ClothingCompleted === false}}" class="text-center"><div class="glyphicon glyphicon-remove"></div></td>
                
                    <td ng-show="{{ ws.EnchantingCompleted }}" class="text-center"><div class="glyphicon glyphicon-ok"></div></td>
                    <td ng-show="{{ ws.EnchantingCompleted === null }}"></td>
                    <td ng-show="{{ ws.EnchantingCompleted === false}}" class="text-center"><div class="glyphicon glyphicon-remove"></div></td>
                
                    <td ng-show="{{ ws.ProvisioningCompleted }}" class="text-center"><div class="glyphicon glyphicon-ok"></div></td>
                    <td ng-show="{{ ws.ProvisioningCompleted === null }}"></td>
                    <td ng-show="{{ ws.ProvisioningCompleted === false}}" class="text-center"><div class="glyphicon glyphicon-remove"></div></td>
                
                    <td ng-show="{{ ws.WoodworkingCompleted }}" class="text-center"><div class="glyphicon glyphicon-ok"></div></td> 
                    <td ng-show="{{ ws.WoodworkingCompleted === null }}"></td>
                    <td ng-show="{{ ws.WoodworkingCompleted === false}}" class="text-center"><div class="glyphicon glyphicon-remove"></div></td>
                <tr>
            </table>
        </div>
    </div>

    <div class="col-md-12 panel" ng-init="vmeso.getOrsiniumStatus()" >
        <div class="panel-heading">
            <h2 class="text-center">Orsinium</h2>
        </div>
        <div class="panel-body">
            <table class="table table-bordered table-striped table-hover">
                <tr>
                    <th>Name</th>
                    <th>Heresy of Ignorance / Dolmen</th>
                    <th>Mad Urkazbur / Mad Ogre</th>
                    <th>Meat for the Masses / Poachers</th>
                    <th>Nature's Bounty / Nursery / Abomination</th>
                    <th>Reeking of foul Play / Edu</th>
                    <th>Snow and Steam / Nyz</th>
                </tr>
                <tr ng-repeat="s in vmeso.orsiniumStatus" class="{{ ws.AllQuestsCompletedClass }}">
                    <td ng-bind="s.Character.Name"/>

                    <td ng-show="{{ s.HeresyOfIgnorance }}" class="text-center"><div class="glyphicon glyphicon-ok"></div></td>
                    <td ng-show="{{ s.HeresyOfIgnorance === null }}" class="text-center"><div class="glyphicon glyphicon-remove"></div></td>
                    <td ng-show="{{ s.HeresyOfIgnorance === false}}" class="text-center"><div class="glyphicon glyphicon-remove"></div></td>

                    <td ng-show="{{ s.MadUrkazbur }}" class="text-center"><div class="glyphicon glyphicon-ok"></div></td>
                    <td ng-show="{{ s.MadUrkazbur === null }}" class="text-center"><div class="glyphicon glyphicon-remove"></div></td>
                    <td ng-show="{{ s.MadUrkazbur === false}}" class="text-center"><div class="glyphicon glyphicon-remove"></div></td>

                    <td ng-show="{{ s.MeatForTheMasses }}" class="text-center"><div class="glyphicon glyphicon-ok"></div></td>
                    <td ng-show="{{ s.MeatForTheMasses === null }}" class="text-center"><div class="glyphicon glyphicon-remove"></div></td>
                    <td ng-show="{{ s.MeatForTheMasses === false}}" class="text-center"><div class="glyphicon glyphicon-remove"></div></td>

                    <td ng-show="{{ s.NaturesBounty }}" class="text-center"><div class="glyphicon glyphicon-ok"></div></td>
                    <td ng-show="{{ s.NaturesBounty === null }}" class="text-center"><div class="glyphicon glyphicon-remove"></div></td>
                    <td ng-show="{{ s.NaturesBounty === false}}" class="text-center"><div class="glyphicon glyphicon-remove"></div></td>

                    <td ng-show="{{ s.ReekingOfFoulPlay }}" class="text-center"><div class="glyphicon glyphicon-ok"></div></td>
                    <td ng-show="{{ s.ReekingOfFoulPlay === null }}" class="text-center"><div class="glyphicon glyphicon-remove"></div></td>
                    <td ng-show="{{ s.ReekingOfFoulPlay === false}}" class="text-center"><div class="glyphicon glyphicon-remove"></div></td>

                    <td ng-show="{{ s.SnowAndSteam }}" class="text-center"><div class="glyphicon glyphicon-ok"></div></td>
                    <td ng-show="{{ s.SnowAndSteam === null }}" class="text-center"><div class="glyphicon glyphicon-remove"></div></td>
                    <td ng-show="{{ s.SnowAndSteam === false}}" class="text-center"><div class="glyphicon glyphicon-remove"></div></td>

                <tr>
            </table>
        </div>
    </div>
</div>