@{
    ViewBag.Title = "Home Page";
}

<div ng-app="esoApp" ng-controller="esoController" class="row">
    <div class="row">
        <div class="col-md-12 panel panel-default">
            <div class="panel-body text-center" id="countdown" ng-Init="CountDown()">
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 panel">
            <div class="panel-heading">
                <h2 class="text-center">Accounts</h2>
            </div>
            <div class="panel-body">
                <table class="table table-bordered table-striped table-hover">
                    <tr>
                        <th>Id</th>
                        <th>Name</th>
                        <th>Last Logged In</th>
                        <th>Telvar Stones</th>
                        <th>CP</th>
                        <th>Enlightened Pool</th>
                        <th>Hours Played</th>
                    </tr>
                    <tr ng-repeat="account in accounts" ng-click="accountSelected()">
                        <td ng-bind="account.Id" />
                        <td ng-bind="account.Name" />
                        <td ng-bind="account.LastLogin | date: 'EEEE MMM d, yyyy HH:mm:ss'" />
                        <td ng-bind="account.BankedTelvarStornes" />
                        <td ng-bind="account.ChampionPointsEarned" />
                        <td ng-bind="account.EnlightenedPool" />
                        <td ng-bind="account.HoursPlayed" />
                    <tr>
                </table>
            </div>
        </div>
    </div>
    <div class="row">
        <div ng-show="selectedAccount" class="col-md-12 panel">
            <div class="panel-heading">
                <h2 class="text-center">Characters</h2>
            </div>
            <div class="panel-body">
                <table class="table table-bordered table-striped table-hover">
                    <tr>
                        <th>Id</th>
                        <th>Name</th>
                        <th>Last Logged In</th>
                        <th>Level</th>
                        <th>Achiev. Points</th>
                        <td>Alliance Points</td>
                        <th>Hours Played</th>
                    </tr>
                    <tr ng-repeat="character in characters" ng-click="characterSelected()">
                        <td ng-bind="character.Id" />
                        <td ng-bind="character.Name" />
                        <td ng-bind="character.LastLogin | date: 'EEEE MMM d, yyyy HH:mm:ss'" />
                        <td ng-bind="character.EffectiveLevel" />
                        <td ng-bind="character.AchievementPoints" />
                        <td ng-bind="character.AlliancePoints" />
                        <td ng-bind="character.HoursPlayed" />
                    <tr>
                </table>
            </div>
        </div>
    </div>

    <div class="row">
        <div ng-show="selectedCharacter" class="col-md-12 panel">
            <div class="panel-heading">
                <h2 class="text-center" ng-bind="getSelectedCharacterHeaderString()"/>
            </div>
            <div class="panel-body">
                <table class="table table-bordered table-striped table-hover">
                    <tr>
                        <th>Id</th>
                        <th>Time</th>
                        <th>CP</th>
                        <th>Enlightened Pool</th>
                        <th>Bag</th>
                        <th>Bank</th>
                        <th>Cash</th>
                        <th>Banked Cash</th>
                        <th>Hours Played</th>
                    </tr>
                    <tr ng-repeat="characterActivity in characterActivities">
                    <td ng-bind="characterActivity.Id"/>
                    <td ng-bind="characterActivity.LastLogin | date: 'EEEE MMM d, yyyy HH:mm:ss'"/>
                    <td ng-bind="characterActivity.ChampionPointsEarned"/>
                    <td ng-bind="characterActivity.EnlightenedPool"/>
                    <td ng-bind="getCharacterActivityBagUsageString(characterActivity)"/>
                    <td ng-bind="getCharacterActivityBankUsageString(characterActivity)"/>
                    <td ng-bind="characterActivity.Cash"/>
                    <td ng-bind="characterActivity.BankedCash"/>
                    <td ng-bind="getCharacterActivityTimePlayed(characterActivity)"/>
                    <tr>
                </table>
            </div>
        </div>
    </div>
</div>