@{
    ViewBag.Title = "Home Page";
}

<div ng-include="'/app/accounts/accountListView.html'"></div>
<div ng-include="'/app/characters/characterListView.html'"></div>
<div ng-include="'/app/characters/characterActivityListView.html'"></div>