@{
    ViewBag.Title = "Skills";
}

<div ng-app="app" ng-controller="esoController as vmeso" ng-init="vmeso.getCharacterSkills()" class="row">
    <div class="row">
        <div class="col-md-12 panel panel-default">
            <div class="panel-body text-center" id="countdown" ng-Init="vmeso.CountDown()">
            </div>
        </div>
    </div>
    <div class="col-md-12 panel">
        <div class="panel-heading">
            <h2 class="text-center">Character Skills</h2>
        </div>
        <div class="panel-body">
            <table class="table table-bordered table-striped table-hover">
                <tr>
                    <th><a href="#" ng-click="skillSortType = 'Name'; skillSortReverse = !skillSortReverse">Name</a></th>
                    <th><a href="#" ng-click="skillSortType = 'EffectiveLevel'; skillSortReverse = !skillSortReverse">Level</a></th>
                    <th><a href="#" ng-click="skillSortType = 'ChampionPointsEarned'; skillSortReverse = !skillSortReverse">CP</a></th>
                    <th><a href="#" ng-click="skillSortType = 'EnlightenedPool'; skillSortReverse = !skillSortReverse">EP</a></th>
                    <th><a href="#" ng-click="skillSortType = 'Blacksmithing'; skillSortReverse = !skillSortReverse">Blacksmithing</a></th>
                    <th><a href="#" ng-click="skillSortType = 'Clothing'; skillSortReverse = !skillSortReverse">Clothing</a></th>
                    <th><a href="#" ng-click="skillSortType = 'Woodworking'; skillSortReverse = !skillSortReverse">Woodworking</a></th>
                    <th><a href="#" ng-click="skillSortType = 'Alchemy'; skillSortReverse = !skillSortReverse">Alchemy</a></th>
                    <th><a href="#" ng-click="skillSortType = 'Enchanting'; skillSortReverse = !skillSortReverse">Enchanting</a></th>
                    <th><a href="#" ng-click="skillSortType = 'Provisioning'; skillSortReverse = !skillSortReverse">Provisioning</a></th>
                    <th><a href="#" ng-click="skillSortType = 'LightArmor'; skillSortReverse = !skillSortReverse">Light</a></th>
                    <th><a href="#" ng-click="skillSortType = 'MediumArmor'; skillSortReverse = !skillSortReverse">Medium</a></th>
                    <th><a href="#" ng-click="skillSortType = 'HeavyArmor'; skillSortReverse = !skillSortReverse">Heavy</a></th>
                </tr>
                <tr ng-repeat="character in vmeso.characterSkills | orderBy:skillSortType:skillSortReverse">
                    <td ng-bind="character.Name" />
                    <td ng-bind="character.EffectiveLevel" />
                    <td ng-bind="character.ChampionPointsEarned" />
                    <td ng-bind="character.EnlightenedPool" />
                    <td ng-bind="character.Blacksmithing" />
                    <td ng-bind="character.Clothing" />
                    <td ng-bind="character.Woodworking" />
                    <td ng-bind="character.Alchemy" />
                    <td ng-bind="character.Enchanting" />
                    <td ng-bind="character.Provisioning" />
                    <td ng-bind="character.LightArmor" />
                    <td ng-bind="character.MediumArmor" />
                    <td ng-bind="character.HeavyArmor" />
                <tr>
            </table>
        </div>
    </div>

</div>