<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Debug</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://hemsoftesoapi.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>hemsoftesoapi.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>HemSoftEsoApi</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$HemSoftEsoApi</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <ADUsesOwinOrOpenIdConnect>False</ADUsesOwinOrOpenIdConnect>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="EsoEntities" Order="1" Enabled="False">
          <Destination Path="Data Source=hemsoft-sqlserver.database.windows.net;Initial Catalog=Eso;Persist Security Info=True;User ID=hemsoft;Password=Inxs1Inxs;Application Name=EntityFramework" Name="Data Source=hemsoft-sqlserver.database.windows.net;Initial Catalog=Eso;Persist Security Info=True;User ID=hemsoft;Password=Inxs1Inxs;MultipleActiveResultSets=True;Application Name=EntityFramework" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="HemSoft.Eso.Domain.EsoEntities, HemSoft.Eso.Domain" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)EsoEntities-Web.config Connection String">
      <ParameterValue>metadata=res://*/EsoModel.csdl|res://*/EsoModel.ssdl|res://*/EsoModel.msl;provider=System.Data.SqlClient;provider connection string="Data Source=hemsoft-sqlserver.database.windows.net;Initial Catalog=Eso;Persist Security Info=True;User ID=hemsoft;Password=Inxs1Inxs;MultipleActiveResultSets=True;Application Name=EntityFramework"</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>